body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F7F8;
    margin: 0;
}

.container{
    background-color: #F5F7F8;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin: 40px;
}

.header{
    text-align: center;
    padding: 20px;
}

.foto-perfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nombre{
    margin: 10px 0;
    font-size: 3.5em;
    color: #f4ce14;
}

.apellido{
    font-size: 2em;
    color: #929292;
}

.profesion{
    margin-top: 5px;
    font-size: 1.5em;
    color: #929292;
}

/* Estilos de infornmacion de contacto*/

.datos-contacto{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f4ce14;
    gap: 20px;
}

/*Descripcion personal*/

.descripcion-personal{
    padding: 20px;
    border: solid 1px #f4ce14;
    border-radius: 20px;
}

.descripcion-personal h2{
    color: #f4ce14;
    text-align: center;
}

.descripcion-personal p{
    font-size: 1.1em;
    color: #929292;
    line-height: 1.6;
    text-align: justify;
}

.experiencia-laboral{
    padding: 20px;
}

.experiencia-laboral h2{
    color: #f4ce14;
    text-align: center;
    font-size: 45px
}

.tabla-experiencia{
    width: 100%;
    border-collapse: collapse;
    background-color: #F5F7F8;
}

.tabla-experiencia tr{
    border-bottom: 1px solid #f4ce14;
}

.tabla-experiencia td {
    padding: 10px;
    vertical-align: top;
}

.habilidades{
    padding: 20px;
}

.habilidades h2{
    color: #f4ce14;
    text-align: left;
    font-size: 45px;
    border-bottom: #f4ce14 solid 1px;
}

.habilidades-tabla{
    width: 100%;
    border-collapse: collapse;
    background-color: #f5f5f2;
    border-radius: 20px;
}

.habilidades-tabla tr{
    border-bottom: 1px solid #f4ce14;
}

.habilidades-tabla td {
    padding: 10px;
    vertical-align: top;
}

.habilidades-tabla td div{
    background-color: #f8f0c8;
    padding: 20px;
    justify-content: left;
    align-items: start;
    border-radius: 50px;
    font-weight: bold;
}

.habilidades-tabla td div p{
    color: black;
}